<div class="add-main">
    <h1>Add New Post</h1>
  <form id="new-form" class="new-post-form">
  <div class="form-group">
    <label for="post-title-input">Post Title:</label>
    <input type="text" class="form-control" id="post-title-input">
  </div>
  <div class="form-group">
    <label for="post-content">Post Content:</label>
    <textarea class="form-control" id="post-content-input" rows="3"></textarea>
  </div>
  <button class="btn btn-dark" type="submit">Add Post</button>
</form>  
</div>

    <script src="/js/newPost.js"></script>