body {
    min-height: 100%;
    background-color: var(--space);
  }
  header {
    background-color: var(--light-space);
  }
  header h1 {
    color: white;
    margin-left: 10vw;
  }
  
  
  .user-form-card {
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  .user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-form input {
    width: 25vw;
  }
  .login-button {
    width: 25vw;
  }
  .post-card {
    background-color: var(--light-space);
    width: 70vw;
    margin: 3px;
  }
  .comment-card {
    width: 70vw;
    background-color: var(--light-space);
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-card * {
    color: var(--space);
    
  }
  .post-card * {
    color: var(--space);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #post-title {
    color: white
  }
  .single-post-main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dashboard-main {
      width: 100vw;
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .add-main {
    width: 100vw;
    min-height: 90vh;
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  #new-form {
    width: 70vw;
  
  }