.line {
  height: 1px;
  background: black;
}

.add-post {
  float: right;
  position: relative;
  bottom: 37px;
}
.post-name {
  font-size: 30px;
}

.post-text {
  font-size: 20px;
  font-weight: bolder;
}

.comment-text {
  font-size: 15px;
}

.comment-section {
  font-size: larger;
}
.main-text{
  font-weight: bolder;
}

.post-title {
  font-size: larger;
  font-weight: bolder;
}

.post-card {
  margin: 20px
}

.post-button {
margin-top: 10px;
}
.back-button {
  float: left;
  position: relative;
  right: 150px;
}

.line {
  height: 1px;
  background: black;
}

.add-comment {
  float: right;
  position: relative;
  bottom: 37px;
}
.post-name {
  font-size: 30px;
}

.post-text {
  font-size: 20px;
  font-weight: bolder;
}

